body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}
/* utility */
.pad-0-5 {
  padding: 0 5px;
}
.py-10 {
  padding: 10px 0;
}
.px-5 {
  padding: 0 5px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}
/* /utility */
/* colors */
.bg-white {
  background-color: white;
}
.bg-grey {
  background-color: #f3f5f9;
}
.bg-blue {
    background-color: #031b4e;
}
.bg-electric-blue {
    background-color: #0067ff;
}
.bg-dark-blue {
    background-color: #031C4E;
}
.bg-blue-sky {
  background-color: #579aff;
}

.text-white {
  color: white;
}
.text-electric-blue {
  color: #0067ff;
}
.text-grey {
  color: grey;
}
.text-dark-blue {
  color: #031C4E;
}
/* /colors */

/* header */
/* nav */
nav {
  margin-bottom: 0;
  border: none;
}
.navbar-default .navbar-nav> li> a {
  color: #031b4e;
  font-weight: 500;
}
.navbar-default .navbar-nav> li> a> i {
  margin-left: 5px;
}
.navbar-default .navbar-nav> li> .btn {
  color: #0067ff;
  border-color: #0067ff;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
}
.navbar-default .navbar-nav> li> .btn:hover {
  color: white;
  border-color: #0067ff;
  background-color: #0067ff;
}
/* /nav */
/* jumbotron */
.jumbotron {
  background-image: url('../img/bg-home-cta.svg');
  background-size: cover;
  margin-bottom: 0;
}
.card {
  height: 400px;
  padding: 5px;
  background-color: white;
}
.btn span {
  color: #7a859d;
}
.form-control, .card .btn {
  width: 95%;
  margin: 10px;
  padding: 5px;
}
.btn-primary{
  background-color: #579aff;
  border-color: #579aff;
}
.btn-primary:hover {
  background-color: #006aff;
}

 #logo-google {
   height: 18px;
 }

 /* /jumbotron */
 /* /header */

 /* main */
 /* loghi */
 .logos {
   background-color: #f3f5f9;
 }

 .logo img {
     width: 100%;
     vertical-align: ;
 }

 .logo-row {
   line-height: 123.23px;
 }
 #loghi h4 {
   text-transform: uppercase;
 }
#loghi a {
  font-weight: 500;
  font-size: 15px;
}
 /* /loghi */
 /* deploy */
 #deploy ul {
    border-left: 1px solid grey;
    padding-left: 10px;
 }

 #deploy li {
    line-height: 4.5rem;
    list-style: none;
    color: grey;
    font-size: 2rem;
 }
  /* /deploy */
  /* designed */
  .rocket-box {
    border-radius: 5px;
  }
  #designed [class*="chevron"] {
    font-size: 40px;
  }
  #designed .col-md-3 {
    top: 161.5px;
  }
  #designed [class*="circle"] {
    font-size: 15px;
    color: #579aff;
  }
  /* /designed */
  /* features */
  /* /features */
  /* data */
  #data .border-bottom {
    border-bottom: 1px solid white;
  }
  #data .strong {
    font-weight: bold;
  }
  /* /data */
  /* /main */
  /* footer */
  .site-footer h5 {
    color:white;
  }
  .site-footer .copy, .site-footer a {
    color: #7a859d;
  }
  /* /footer */

  /* MEDIA */
  @media (min-width: 768px) {
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0 95px;
  }
}
