body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}
/* utility */
.pad-0-5 {
  padding: 0 5px;
}
.py-10 {
  padding: 10px 0;
}
.px-5 {
  padding: 0 5px;
}
/* /utility */
/* colors */
.bg-white {
  background-color: white;
}
.bg-grey {
  background-color: #f3f5f9;
}
.bg-blue {
    background-color: #031b4e;
}
.bg-electric-blue {
    background-color: #0067ff;
}
.bg-dark-blue {
    background-color: #031C4E;
}

.text-white {
  color: white;
}
/* /colors */

/* header */
/* nav */
nav {
  margin-bottom: 0;
  border: none;
}
/* /nav */
/* jumbotron */
.jumbotron {
  background-image: url('../img/bg-home-cta.svg');
  background-size: cover;
  margin-bottom: 0;
}

.card {
  background-color: white;
}

 #logo-google {
   height: 18px;
 }
 /* /jumbotron */
 /* /header */

 /* main */
 /* logo */
 .logos {
   background-color: #f3f5f9;
 }

 .logo img {
     width: 100%;
     vertical-align: ;
 }

 .logo-row {
   line-height: 123.23px;
 }
 /* /logo */
 /* deploy */
 #deploy ul {
    border-left: 1px solid grey;
    padding-left: 10px;
 }

 #deploy li {
    line-height: 4.5rem;
    list-style: none;
    color: grey;
    font-size: 2rem;
 }
  /* /deploy */
  /* designed */
  /* /designed */
  /* features */
  /* /features */
  /* data */
  #data .border-bottom {
    border-bottom: 1px solid white;
  }
  #data .strong {
    font-weight: bold;
  }
  /* /data */
  /* /main */
  /* footer */
  .site-footer h5 {
    color:white;
  }
  /* /footer */
